main {
  display: flex;
  justify-content: space-between;
}

#profile {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex: 2;
}

.ava-nick {
  width: 200px;
  text-align: center;
  margin-left: 50px;
}

.avatar {
  margin-top: 90px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 10%;
  border: 2px solid black;
  margin-bottom: 15px;
}

.nickname,
.email {
  width: 100%;
  background-color: #383838;
  border-radius: 8px;
  padding: 10px 5px;
  color: white;
  font-size: 17px;
  margin-left: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
}

.change_ava {
  padding: 10px 14px;
  border: 1px solid White;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  transition: color 0.6s;
}

.change_ava:hover {
  background-color: #cbcbcb;
  color: rgb(0, 0, 0);
}

.gen_inf {
  text-align: center;
  font-size: 25px;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 100px;
}

.form {
  background-color: black;
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-columns {
  display: flex;
  gap: 30px;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.form-gender {
  display: flex;
  gap: 10px;
  align-items: center;
}

.gender {
  color: white;
  font-size: 20px;
}

label[for="input-name"],
label[for="input-surname"],
label[for="input-email"],
label[for="input-address"],
label[for="input-sex"] {
  color: rgb(229, 229, 229);
  font-size: 22px;
  vertical-align: middle;
}

label[for="input-sex"] {
  color: rgb(229, 229, 229);
  font-size: 18px;
}

#input-name,
#input-surname,
#input-address,
#input-email {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #383838;
  color: rgb(213, 213, 213);
  font-size: 15px;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.save_btn {
  padding: 7px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.6s;
}

.save_btn:hover {
  background-color: #383838;
  color: white;
}

#recently-viewed {
  flex: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.recent-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.recent-product-card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.recent-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.recent-product-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}

.recent-product-title {
  margin: 10px 0;
  font-weight: 600;
}

.recent-product-desc {
  font-size: 14px;
  color: black;
}

.recent-product-price {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: rgb(79, 71, 71);
}

.add-to-recent-product {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-recent-product:hover {
  background-color: #555;
}
